<div class="card" style="height: 600px;">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Datos de empeño</li>
            </ol>
        </nav>
        <div class="card-title text-center">
            <h4 class="card-title">Datos de empeño</h4>
            <br>
        </div>
        <div class="form-control">
            <div class="table-responsive-sm">
                <table class="table">
                    <TR>
                        <TH>Fecha Inicial</TH> <TH>Fecha límite</TH> <TH>Monto de préstamo</TH> <TH>Porcentaje de aforo</TH>
                    </TR>
                    <TR>
                        <TD>A</TD> <TD>B</TD> <TD>C</TD><TD>D</TD>
                    </TR>
                </table>
            </div>
        </div>
    </div>
</div>