<div class="card" style="height: 600px;">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/busqueda-articulo">Buscar Artículo</a></li>
                <li class="breadcrumb-item"><a href="/cotizacion/{{id_detalle_prenda}}">Cotización</a></li>
                <li class="breadcrumb-item"><a href="/busqueda-cliente/">Buscar Cliente</a></li>
                <li class="breadcrumb-item active" aria-current="page">Confirmación</li>
            </ol>
        </nav>
        <div class="card-title text-center">
            <h4 class="card-title">Datos de empeño</h4>
            <br>
        </div>
        <div *ngIf="pago == 0" class="container">
            <div class="row">
                <div class="col-md-4 offset-md-11">
                    <div class="col-8">
                        <button class="btn btn-success my-2">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-control">
            <div class="table-responsive-sm">
                <table class="table">
                    <TR>
                        <TH>Fecha Inicial</TH> <TH>Fecha límite</TH> <TH>Monto de préstamo</TH> <TH>Porcentaje de aforo</TH>
                    </TR>
                    <TR>
                        <TD>A</TD> <TD>B</TD> <TD>C</TD><TD>D</TD>
                    </TR>
                </table>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div *ngIf="pago > 0" class="container">
            <div class="row">
                <div class="col-md-5 offset-md-10">
                    <div class="col-4">
                        <h4>Tu adeudo es de: ${{pago}}</h4>
                        <input class="form-control" formControlName="num_ide" type="text" placeholder="Monto">
                        <button class="btn btn-success my-2">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>