
<div class="h-100" *ngIf="loading">
  <div class="spinner col">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<div class="login-page" *ngIf="!loading">
  <div class="form">
    <!-- <form class="register-form">
      <input name="username" type="text" placeholder="name"/>
      <input name="password" type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <input class="form-control" formControlName="username" type="text" placeholder="Username"/>
      <input class="form-control" formControlName="password" type="password" placeholder="Password"/>
      <button class="btn btn-success my-2">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>