<div class="card h-100">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Noticias</h4>
                <h5 class="card-subtitle text-muted">Mérida, Yucatán</h5>
            </div>
        </div>
        <div class="row mt-4">
            <!-- column -->
            <div class="col-lg-12">
                <div>
                    <div class="d-flex flex-column w-100">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbiteable.com%2Fcontent%2Fuploads%2F2019%2F04%2FCompany-News-Thumb-WP-1200x630-c-center.jpg&f=1&nofb=1" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.iiVhY1NxQtvINI1kWs7LvQHaEK%26pid%3DApi&f=1" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.YZ1FTE1q7rIN_bObCJuAygHaD2%26pid%3DApi&f=1" class="d-block w-100" alt="...">
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>
    </div>
</div>
