<div class="card" style="height:auto;">
  <div class="card-body">
    <!-- Breadcrum -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/busqueda-articulo">Buscar Artículo</a></li>
        <li class="breadcrumb-item"><a href="/cotizacion/{{id_detalle_prenda}}">Cotización</a></li>
        <li class="breadcrumb-item active" aria-current="page">Buscar Cliente</li>
      </ol>
    </nav>
    <div class="card-title text-center">
      <h4 class="card-title">Buscar Cliente</h4>
      <h5 class="card-subtitle">Seleccione uno de la lista</h5>
    </div>
    <div class="col-8">
      <button routerLink="/agregar-cliente" class="btn btn-success my-2 ">Agregar nuevo cliente <i
          class="bi bi-plus-lg"></i></button>
    </div>
    <form>
      <div class="row justify-content-md-center">
        <div class="col-8">
          <div class="input-group">
            <input [(ngModel)]="query" name="query" type="text" required pattern="[A-Za-z]{3}" class="form-control"
              placeholder="Buscar por nombre o # de identificacion">
            <button (click)="searchClient()" type="submit" class="btn btn-success">Buscar</button>
          </div>
        </div>
        <div *ngIf="showAlert" class="row justify-content-md-center mt-2">
          <div class="col-8 alert alert-warning" role="alert">
            No se encontraron resultados
          </div>
        </div>
        <div class="row justify-content-md-center mt-2" *ngIf="loading">
          <div class="h-100">
            <div class="spinner col">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="mt-5 table row-border hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"># de Indentificación</th>
              <th scope="col">Nombre</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of clientSearchResult; let i = index" scope="row">
              <td>{{i + 1}}</td>
              <td>{{item.numero_ide}}</td>
              <td>{{item.nombre_completo}}</td>
              <th><a (click)="saveSelectedClient(item.numero_ide)" routerLink="/datos-empeno"
                  class="btn btn-outline-success btn-sm">Seleccionar</a></th>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>