<div class="card" style="height: 600px;">
  <div class="card-body">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agregar Cliente</li>
          </ol>
      </nav>
      <div class="card-title text-center">
          <h4 class="card-title">Agregar Cliente</h4>
          <h5 class="card-subtitle">Ingrese los datos</h5>
      </div>
      <form class="form-control">
        <div class="container">
            <div class="row align-items-start">

              <br>

                <h3>Datos del cliente</h3>
                <div class="col">
                    <input class="form-control"required pattern="[A-Za-z]{3}" requiredminlength="3" maxlength="10" size="10" formControlName="nom_1" type="text" placeholder="Primer nombre">
                </div>
                <div class="col">
                    <input class="form-control" formControlName="nom_2" type="text" placeholder="Segundo nombre">
                </div>
                <div class="col">
                    <input class="form-control" formControlName="apellido_pat" type="text" placeholder="Apellido Paterno">
                </div>
                <div class="col">
                    <input class="form-control" formControlName="apellido_mat" type="text" placeholder="Apellido Materno">
                </div>
                <div class="col-1">
                    <input class="form-control" requiredminlength="2" maxlength="2" formControlName="edad" type="text" placeholder="Edad">
                </div>
            </div>
            <br>
            <div class="row align-items-end">
                <div class="col-2">
                    <select name="Iden" class="form-control">
                        <option value="Ine">INE</option>
                        <option value="Lic">Licencia</option>
                        <option value="Pas">Pasaporte</option>
                    </select>
                </div>
                <div class="col">
                    <input class="form-control" formControlName="num_ide" type="text" placeholder="N. de indentifiación">
                </div>
                <div class="col">
                    <input class="form-control" formControlName="phone" type="text" placeholder="Teléfono">
                </div>
                <div class="col">
                    <input class="form-control" formControlName="email" type="text" placeholder="Correo electrónico">
                </div>
            </div>
            <br>
               <h3>Dirección</h3>
               <form>

                 <div class="row">
                   <div class="row">
                    <label for="inputZip" class="form-label">C.P.</label>
                   </div>
                 <div class="col-md-2">
                  <input type="text" class="form-control" id="inputZip">
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary" type="button">Buscar</button>
                  </div>
                <div class="col-md-2">
                  <label for="inputState" class="form-label">Estado</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                <br>

                </div><div class="col-md-2">
                  <label for="inputCity" class="form-label">Ciudad</label>
                  <select id="inputCity" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                <br>
                </div>
                <div class="col-md-2">
                  <label for="inputCol" class="form-label">Colonia</label>
                  <select id="inputCol" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                <br>

                </div>
              </div>

              </form>

                <div class="row align-items-center">

              <div class="col">
                  <input class="form-control" formControlName="nom_direccion" type="text" placeholder="Calle">
              </div>
                <div class="col-1">
                  <input class="form-control" formControlName="num_ext" type="text" placeholder="Núm.Ext.">
                </div>
                <div class="col-1">
                  <input class="form-control" formControlName="num_int" type="text" placeholder="Núm. Int.">
              </div>
                <div class="col">
                    <input class="form-control" formControlName="cru" type="text" placeholder="Cruzamientos">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class="col-auto">
            <button routerLink="/datos-empeno" class="btn btn-primary" type="button">Siguiente</button>
          </div>



        </div>


    </form><!-- // End form -->
  </div>
</div>

