<div class="">
  <app-top-cards></app-top-cards>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<app-top-selling></app-top-selling>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
<!-- <app-blog-cards></app-blog-cards> -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
