<div class="card">
    <div class="card-body">
        <h4 class="card-title">REPORTE DIARIO</h4>
        <h5 class="card-subtitle text-muted">Registro de actividades</h5>
        <div class="feed-widget mt-4">
            <div class="text-center feed-body m-0">
                <ngb-datepicker [(ngModel)]="date"></ngb-datepicker>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="submit()">Aceptar</button>
    </div>
</div>