<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">Top Transactions</h4>
                <h5 class="card-subtitle">BOLETAS EN EXISTENCIA</h5>

        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Clientes</th>
                        <th class="text-dark font-medium fs-4">ID Boleta</th>
                        <th class="text-dark font-medium fs-4">Fecha de Alta</th>
                        <th class="text-dark font-medium fs-4">Fecha Final</th>
                        <th class="text-dark font-medium fs-4">Monto Préstamo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ts of topSelling'>
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]=ts.image alt="user" width="45" class="rounded-circle">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{ts.uname}}</h5>
                                    <span class="text-muted">{{ts.gmail}}</span><br>
                                    <label for="exampleFormControlInput1" class="form-label">{{ts.telefono}}</label>
                                </div>
                            </div>
                        </td>
                        <td class="fs-4">{{ts.productName}}</td>
                        <td>
                            <label for="exampleFormControlInput1" class="form-label">{{ts.status}}</label>
                        </td>

                        <td>
                            <h5 class="mb-0 fw-normal">{{ts.weeks}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{ts.budget}}</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
