<style>
    .es-datetime::first-letter {
    text-transform: capitalize;
}
</style>
<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title text-center">Lista de boletas</h4>
                <h5 class="card-title text-center es-datetime">{{currentDate | date: 'fullDate':'UTC':'es'}}</h5>
        <!-- title -->
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Cliente</th>
                        <th class="text-dark font-medium fs-4">ID Boleta</th>
                        <th class="text-dark font-medium fs-4">Fecha de alta</th>
                        <th class="text-dark font-medium fs-4">Fecha de vencimiento</th>
                        <th class="text-dark font-medium fs-4">Monto de préstamo</th>
                        <th class="text-dark font-medium fs-4">Pago total</th>
                        <th class="text-dark font-medium fs-4">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let b of boletas'>
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]="b.pic" alt="user" width="45" class="rounded-circle">

                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{b.nombre_completo}}</h5>
                                    <span class="text-muted">{{b.dir_email}}</span><br>
                                    <label for="exampleFormControlInput1" class="form-label">{{b.no_tel}}</label>
                                </div>
                            </div>
                        </td>
                        <td class="fs-4">{{b.id_boleta}}</td>
                        <td>
                            <h5 style="text-transform: capitalize;" class="mb-0 fw-normal">{{b.fecha_alta | date: 'fullDate':'UTC':'es'}}</h5>
                        </td>

                        <td>
                            <h5 style="text-transform: capitalize;" class="mb-0 fw-normal">{{b.fecha_fin | date: 'fullDate':'UTC':'es' }}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{b.mont_prest_total | currency}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{b.pago_total | currency}}</h5>
                        </td>
                        <td>
                            <h5 *ngIf="b.id_cat_stats_bol == 1" class="text-success mb-0 fw-normal">{{b.nom_stats_bol}}</h5>
                            <h5 *ngIf="b.id_cat_stats_bol == 2" class="text-warning mb-0 fw-normal">{{b.nom_stats_bol}}</h5>
                            <h5 *ngIf="b.id_cat_stats_bol == 3" class="text-danger mb-0 fw-normal">{{b.nom_stats_bol}}</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
